


<!DOCTYPE html>
<html>
<head>
    <title>Login Page</title>

    <meta name="keywords" content=
            "new trace manager, hint, trace hint, trace, username, website name, trace manager"
    />
    <meta name="description" content=
            "onlinetraces.com. Online Traces. website, username, password, monthly charge">


    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.bundle.min.js" integrity="sha384-lZmvU/TzxoIQIOD9yQDEpvxp6wEU32Fy0ckUgOH4EIlMOCdR823rg4+3gWRwnX1M" crossorigin="anonymous"></script>

    <link rel="stylesheet"
          href="//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">

    <link href="/static/main.css"
          rel="stylesheet" media="screen">

</head>

<body>

<div class="container-fluid">

    <div class="row">
        <div class="col-md-12">


            <form method="post" action="/accounts/login">

                <div>
            <span class="right20percent">
                <label for="id_username">
                    Username:
                </label>
            </span>
                    <input autofocus=""
                           id="id_username"
                           maxlength="254"
                           name="username"
                           type="text" required />
                </div>
                <div>
            <span class="right20percent">
                <label for="id_password">
                    Password:
                </label>
            </span>
                    <input id="id_password"
                           name="password"
                           type="password" required />
                </div>

                <div>
            <span class="right20percent">
                <input class="btn btn-primary text-center"
                       type="submit" value="login" />
            </span>
                </div>

                <input type="hidden" name="next"
                       value="" />
            </form>


            <div style="padding:5px">
        <span class="right20percent">
            <a class="btn btn-success text-center"
               href="/accounts/password_reset/">
                Lost Password?
            </a>
        </span>
            </div>



        </div>
    </div>


    <div class="row">
        <div class="col-md-12">


            <hr>
            <p>
                <a href="/contac-us/">Contact Us</a> |
                <a href="/about-us/">About Us</a>
            </p>
        </div>
    </div>
</div>


</body>

</html>