



<head>
    <title>Details about the member</title>

    <meta name="keywords" content=
            "new password manager, hint, password hint, password, username, website name, password manager"
    />
    <meta name="description" content=
            "Free Password Manager based on hints. No math encryption, just human encryption">

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.bundle.min.js" integrity="sha384-lZmvU/TzxoIQIOD9yQDEpvxp6wEU32Fy0ckUgOH4EIlMOCdR823rg4+3gWRwnX1M" crossorigin="anonymous"></script>

    <link rel="stylesheet"
          href="//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
</head>


<body>

<div class="container">
    <div class="row">
        <div class="col-md-12">

            <div>
                <h3 class="text-center">Use this form to view the detail of a member.
                    Clicking on
                    "Back to the main page"
                    does not update anything.</h3>
            </div>
                <div style="padding-bottom: 10px">

        <span class="right20percent">
            <label for="id_ID"
                   style="display: inline-block; width: 140px; text-align: right;">
                ID:</label>
        </span>
                    <input id="id_ID" maxlength="254"
                           name="ID" type="text" value="{{.ID}}" readonly/>
                    <span class="helptext">ID</span>
                </div>


            <div style="padding-bottom: 10px">

        <span class="right20percent">
            <label for="id_ChineseName"
                   style="display: inline-block; width: 140px; text-align: right;">
                ChineseName:</label>
        </span>
                    <input id="id_ChineseName" maxlength="255"
                           name="ChineseName" type="text" value="{{.ChineseName}}" readonly/>
                    <span class="helptext">ChineseName
        </span>
                </div>
            <div style="padding-bottom: 10px">

        <span class="right20percent">
            <label for="id_EnglishName"
                   style="display: inline-block; width: 140px; text-align: right;">
                EnglishName:</label>
        </span>
                    <input id="id_EnglishName" maxlength="255"
                           name="EnglishName" type="text" value="{{.EnglishName}}" readonly />
                    <span class="helptext">EnglishName</span>
                </div>

            <div style="padding-bottom: 10px">

        <span class="right20percent">
            <label for="id_Email"
                   style="display: inline-block; width: 140px; text-align: right;">
                Email:</label>
        </span>
                <input id="id_Email" maxlength="255"
                       name="Email" type="text" value="{{.Email}}" readonly />
                <span class="helptext">Email</span>
            </div>
            <div style="padding-bottom: 10px">

        <span class="right20percent">
            <label for="id_CellPhone"
                   style="display: inline-block; width: 140px; text-align: right;">
                Cell Phone:</label>
        </span>
                <input id="id_CellPhone" maxlength="255"
                       name="CellPhone" type="text" value="{{.CellPhone}}" readonly />
                <span class="helptext">Cell Phone</span>
            </div>


            <div style="padding-bottom: 10px">

        <span class="right20percent">
            <label for="id_Street"
                   style="display: inline-block; width: 140px; text-align: right;">
                Reason:</label>

        </span>
                <input id="id_Street" maxlength="255"
                       name="Street" type="text" value="{{.Street}}" readonly />
                <span class="helptext">Reason</span>
            </div>

            <div style="padding-bottom: 10px">
        <span class="right20percent">
            <a class="text-center btn btn-primary"
               href="/">
                Back to the main page</a>
        </span>
            </div>




        </div>
    </div>


</div>

</body>