<ul class="nav nav-pills nav-fill bg-dark">
    <li class="nav-item">
        <a class="nav-link active" href="/">Home
        </a>
    </li>
    <li class="nav-item">
        <a class = "nav-link"
           href="http://brentwoodcoding.ddns.net">
    <span class="ion-ios-person" data-pack="ios" data-tags="users, staff, head, human">

    </span>
    Brentwood Coding
        </a>
    </li>

    {{ if .Anonymous}}
        <li class="nav-item">
            <a class = "nav-link"
               class="fontsize125p navbar-onlinetraces"
               href="/accounts/create/">Sign Up</a>
        </li>
        <li class="nav-item">
            <a class = "nav-link"
               class="fontsize125p navbar-onlinetraces"
               href="/accounts/login/">Login</a>
        </li>

    {{end }}

    {{ if .Authenticated}}

        <li class="nav-item">
            <a class = "nav-link"
               style="color:red;"
               href="#">{{.Username}}</a>
        </li>
        <li class="nav-item">
            <a class = "nav-link"
               class="fontsize125p navbar-onlinetraces"
               href="/accounts/logout/">Logout</a>
        </li>

    {{end}}

</ul>

